
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.rj-serif{font-family:serif}.rj-sans-serif{font-family:sans-serif}.rj-cursive{font-family:cursive}.rj-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.rj-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.rj-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.rj-table,.rj-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.rj-table-all{border:1px solid #ccc}
.rj-bordered tr,.rj-table-all tr{border-bottom:1px solid #ddd}.rj-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.rj-table-all tr:nth-child(odd){background-color:#fff}.rj-table-all tr:nth-child(even){background-color:#f1f1f1}
.rj-hoverable tbody tr:hover,.rj-ul.rj-hoverable li:hover{background-color:#ccc}.rj-centered tr th,.rj-centered tr td{text-align:center}
.rj-table td,.rj-table th,.rj-table-all td,.rj-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.rj-table th:first-child,.rj-table td:first-child,.rj-table-all th:first-child,.rj-table-all td:first-child{padding-left:16px}
.rj-btn,.rj-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.rj-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.rj-btn,.rj-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.rj-disabled,.rj-btn:disabled,.rj-button:disabled{cursor:not-allowed;opacity:0.3}.rj-disabled *,:disabled *{pointer-events:none}
.rj-btn.rj-disabled:hover,.rj-btn:disabled:hover{box-shadow:none}
.rj-badge,.rj-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.rj-badge{border-radius:50%}
.rj-ul{list-style-type:none;padding:0;margin:0}.rj-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.rj-ul li:last-child{border-bottom:none}
.rj-tooltip,.rj-display-container{position:relative}.rj-tooltip .rj-text{display:none}.rj-tooltip:hover .rj-text{display:inline-block}
.rj-ripple:active{opacity:0.5}.rj-ripple{transition:opacity 0s}
.rj-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.rj-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.rj-dropdown-click,.rj-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.rj-dropdown-hover:hover .rj-dropdown-content{display:block}
.rj-dropdown-hover:first-child,.rj-dropdown-click:hover{background-color:#ccc;color:#000}
.rj-dropdown-hover:hover > .rj-button:first-child,.rj-dropdown-click:hover > .rj-button:first-child{background-color:#ccc;color:#000}
.rj-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.rj-check,.rj-radio{width:24px;height:24px;position:relative;top:6px}
.rj-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.rj-bar-block .rj-dropdown-hover,.rj-bar-block .rj-dropdown-click{width:100%}
.rj-bar-block .rj-dropdown-hover .rj-dropdown-content,.rj-bar-block .rj-dropdown-click .rj-dropdown-content{min-width:100%}
.rj-bar-block .rj-dropdown-hover .rj-button,.rj-bar-block .rj-dropdown-click .rj-button{width:100%;text-align:left;padding:8px 16px}
.rj-main,#main{transition:margin-left .4s}
.rj-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.rj-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.rj-bar{width:100%;overflow:hidden}.rj-center .rj-bar{display:inline-block;width:auto}
.rj-bar .rj-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.rj-bar .rj-dropdown-hover,.rj-bar .rj-dropdown-click{position:static;float:left}
.rj-bar .rj-button{white-space:normal}
.rj-bar-block .rj-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.rj-bar-block.rj-center .rj-bar-item{text-align:center}.rj-block{display:block;width:100%}
.rj-responsive{display:block;overflow-x:auto}
.rj-container:after,.rj-container:before,.rj-panel:after,.rj-panel:before,.rj-row:after,.rj-row:before,.rj-row-padding:after,.rj-row-padding:before,
.rj-cell-row:before,.rj-cell-row:after,.rj-clear:after,.rj-clear:before,.rj-bar:before,.rj-bar:after{content:"";display:table;clear:both}
.rj-col,.rj-half,.rj-third,.rj-twothird,.rj-threequarter,.rj-quarter{float:left;width:100%}
.rj-col.s1{width:8.33333%}.rj-col.s2{width:16.66666%}.rj-col.s3{width:24.99999%}.rj-col.s4{width:33.33333%}
.rj-col.s5{width:41.66666%}.rj-col.s6{width:49.99999%}.rj-col.s7{width:58.33333%}.rj-col.s8{width:66.66666%}
.rj-col.s9{width:74.99999%}.rj-col.s10{width:83.33333%}.rj-col.s11{width:91.66666%}.rj-col.s12{width:99.99999%}
@media (min-width:601px){.rj-col.m1{width:8.33333%}.rj-col.m2{width:16.66666%}.rj-col.m3,.rj-quarter{width:24.99999%}.rj-col.m4,.rj-third{width:33.33333%}
.rj-col.m5{width:41.66666%}.rj-col.m6,.rj-half{width:49.99999%}.rj-col.m7{width:58.33333%}.rj-col.m8,.rj-twothird{width:66.66666%}
.rj-col.m9,.rj-threequarter{width:74.99999%}.rj-col.m10{width:83.33333%}.rj-col.m11{width:91.66666%}.rj-col.m12{width:99.99999%}}
@media (min-width:993px){.rj-col.l1{width:8.33333%}.rj-col.l2{width:16.66666%}.rj-col.l3{width:24.99999%}.rj-col.l4{width:33.33333%}
.rj-col.l5{width:41.66666%}.rj-col.l6{width:49.99999%}.rj-col.l7{width:58.33333%}.rj-col.l8{width:66.66666%}
.rj-col.l9{width:74.99999%}.rj-col.l10{width:83.33333%}.rj-col.l11{width:91.66666%}.rj-col.l12{width:99.99999%}}
.rj-rest{overflow:hidden}.rj-stretch{margin-left:-16px;margin-right:-16px}
.rj-content,.rj-auto{margin-left:auto;margin-right:auto}.rj-content{max-width:980px}.rj-auto{max-width:1140px}
.rj-cell-row{display:table;width:100%}.rj-cell{display:table-cell}
.rj-cell-top{vertical-align:top}.rj-cell-middle{vertical-align:middle}.rj-cell-bottom{vertical-align:bottom}
.rj-hide{display:none!important}.rj-show-block,.rj-show{display:block!important}.rj-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.rj-auto{max-width:95%}}
@media (max-width:600px){.rj-modal-content{margin:0 10px;width:auto!important}.rj-modal{padding-top:30px}
.rj-dropdown-hover.rj-mobile .rj-dropdown-content,.rj-dropdown-click.rj-mobile .rj-dropdown-content{position:relative}	
.rj-hide-small{display:none!important}.rj-mobile{display:block;width:100%!important}.rj-bar-item.rj-mobile,.rj-dropdown-hover.rj-mobile,.rj-dropdown-click.rj-mobile{text-align:center}
.rj-dropdown-hover.rj-mobile,.rj-dropdown-hover.rj-mobile .rj-btn,.rj-dropdown-hover.rj-mobile .rj-button,.rj-dropdown-click.rj-mobile,.rj-dropdown-click.rj-mobile .rj-btn,.rj-dropdown-click.rj-mobile .rj-button{width:100%}}
@media (max-width:768px){.rj-modal-content{width:500px}.rj-modal{padding-top:50px}}
@media (min-width:993px){.rj-modal-content{width:900px}.rj-hide-large{display:none!important}.rj-sidebar.rj-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.rj-hide-medium{display:none!important}}
@media (max-width:992px){.rj-sidebar.rj-collapse{display:none}.rj-main{margin-left:0!important;margin-right:0!important}.rj-auto{max-width:100%}}
.rj-top,.rj-bottom{position:fixed;width:100%;z-index:1}.rj-top{top:0}.rj-bottom{bottom:0}
.rj-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.rj-display-topleft{position:absolute;left:0;top:0}.rj-display-topright{position:absolute;right:0;top:0}
.rj-display-bottomleft{position:absolute;left:0;bottom:0}.rj-display-bottomright{position:absolute;right:0;bottom:0}
.rj-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.rj-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.rj-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.rj-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rj-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.rj-display-container:hover .rj-display-hover{display:block}.rj-display-container:hover span.rj-display-hover{display:inline-block}.rj-display-hover{display:none}
.rj-display-position{position:absolute}
.rj-circle{border-radius:50%}
.rj-round-small{border-radius:2px}.rj-round,.rj-round-medium{border-radius:4px}.rj-round-large{border-radius:8px}.rj-round-xlarge{border-radius:16px}.rj-round-xxlarge{border-radius:32px}
.rj-row-padding,.rj-row-padding>.rj-half,.rj-row-padding>.rj-third,.rj-row-padding>.rj-twothird,.rj-row-padding>.rj-threequarter,.rj-row-padding>.rj-quarter,.rj-row-padding>.rj-col{padding:0 8px}
.rj-container,.rj-panel{padding:0.01em 16px}.rj-panel{margin-top:16px;margin-bottom:16px}
.rj-code,.rj-codespan{font-family:Consolas,"courier new";font-size:16px}
.rj-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.rj-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.rj-card,.rj-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.rj-card-4,.rj-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.rj-spin{animation:rj-spin 2s infinite linear}@keyframes rj-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.rj-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.rj-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.rj-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.rj-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.rj-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.rj-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.rj-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.rj-animate-input{transition:width 0.4s ease-in-out}.rj-animate-input:focus{width:100%!important}
.rj-opacity,.rj-hover-opacity:hover{opacity:0.60}.rj-opacity-off,.rj-hover-opacity-off:hover{opacity:1}
.rj-opacity-max{opacity:0.25}.rj-opacity-min{opacity:0.75}
.rj-greyscale-max,.rj-grayscale-max,.rj-hover-greyscale:hover,.rj-hover-grayscale:hover{filter:grayscale(100%)}
.rj-greyscale,.rj-grayscale{filter:grayscale(75%)}.rj-greyscale-min,.rj-grayscale-min{filter:grayscale(50%)}
.rj-sepia{filter:sepia(75%)}.rj-sepia-max,.rj-hover-sepia:hover{filter:sepia(100%)}.rj-sepia-min{filter:sepia(50%)}
.rj-tiny{font-size:10px!important}.rj-small{font-size:12px!important}.rj-medium{font-size:15px!important}.rj-large{font-size:18px!important}
.rj-xlarge{font-size:24px!important}.rj-xxlarge{font-size:36px!important}.rj-xxxlarge{font-size:48px!important}.rj-jumbo{font-size:64px!important}
.rj-left-align{text-align:left!important}.rj-right-align{text-align:right!important}.rj-justify{text-align:justify!important}.rj-center{text-align:center!important}
.rj-border-0{border:0!important}.rj-border{border:1px solid #ccc!important}
.rj-border-top{border-top:1px solid #ccc!important}.rj-border-bottom{border-bottom:1px solid #ccc!important}
.rj-border-left{border-left:1px solid #ccc!important}.rj-border-right{border-right:1px solid #ccc!important}
.rj-topbar{border-top:6px solid #ccc!important}.rj-bottombar{border-bottom:6px solid #ccc!important}
.rj-leftbar{border-left:6px solid #ccc!important}.rj-rightbar{border-right:6px solid #ccc!important}
.rj-section,.rj-code{margin-top:16px!important;margin-bottom:16px!important}
.rj-margin{margin:16px!important}.rj-margin-top{margin-top:16px!important}.rj-margin-bottom{margin-bottom:16px!important}
.rj-margin-left{margin-left:16px!important}.rj-margin-right{margin-right:16px!important}
.rj-padding-small{padding:4px 8px!important}.rj-padding{padding:8px 16px!important}.rj-padding-large{padding:12px 24px!important}
.rj-padding-16{padding-top:16px!important;padding-bottom:16px!important}.rj-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.rj-padding-32{padding-top:32px!important;padding-bottom:32px!important}.rj-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.rj-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.rj-padding-top-64{padding-top:64px!important}.rj-padding-top-48{padding-top:48px!important}
.rj-padding-top-32{padding-top:32px!important}.rj-padding-top-24{padding-top:24px!important}
.rj-left{float:left!important}.rj-right{float:right!important}
.rj-button:hover{color:#000!important;background-color:#ccc!important}
.rj-transparent,.rj-hover-none:hover{background-color:transparent!important}
.rj-hover-none:hover{box-shadow:none!important}
/* Colors */
.rj-amber,.rj-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.rj-aqua,.rj-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.rj-blue,.rj-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.rj-light-blue,.rj-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.rj-brown,.rj-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.rj-cyan,.rj-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.rj-blue-grey,.rj-hover-blue-grey:hover,.rj-blue-gray,.rj-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.rj-green,.rj-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.rj-light-green,.rj-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.rj-indigo,.rj-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.rj-khaki,.rj-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.rj-lime,.rj-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.rj-orange,.rj-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.rj-deep-orange,.rj-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.rj-pink,.rj-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.rj-purple,.rj-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.rj-deep-purple,.rj-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.rj-red,.rj-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.rj-sand,.rj-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.rj-teal,.rj-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.rj-yellow,.rj-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.rj-white,.rj-hover-white:hover{color:#000!important;background-color:#fff!important}
.rj-black,.rj-hover-black:hover{color:#fff!important;background-color:#000!important}
.rj-grey,.rj-hover-grey:hover,.rj-gray,.rj-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.rj-light-grey,.rj-hover-light-grey:hover,.rj-light-gray,.rj-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.rj-dark-grey,.rj-hover-dark-grey:hover,.rj-dark-gray,.rj-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.rj-pale-red,.rj-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.rj-pale-green,.rj-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.rj-pale-yellow,.rj-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.rj-pale-blue,.rj-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.rj-text-amber,.rj-hover-text-amber:hover{color:#ffc107!important}
.rj-text-aqua,.rj-hover-text-aqua:hover{color:#00ffff!important}
.rj-text-blue,.rj-hover-text-blue:hover{color:#2196F3!important}
.rj-text-light-blue,.rj-hover-text-light-blue:hover{color:#87CEEB!important}
.rj-text-brown,.rj-hover-text-brown:hover{color:#795548!important}
.rj-text-cyan,.rj-hover-text-cyan:hover{color:#00bcd4!important}
.rj-text-blue-grey,.rj-hover-text-blue-grey:hover,.rj-text-blue-gray,.rj-hover-text-blue-gray:hover{color:#607d8b!important}
.rj-text-green,.rj-hover-text-green:hover{color:#4CAF50!important}
.rj-text-light-green,.rj-hover-text-light-green:hover{color:#8bc34a!important}
.rj-text-indigo,.rj-hover-text-indigo:hover{color:#3f51b5!important}
.rj-text-khaki,.rj-hover-text-khaki:hover{color:#b4aa50!important}
.rj-text-lime,.rj-hover-text-lime:hover{color:#cddc39!important}
.rj-text-orange,.rj-hover-text-orange:hover{color:#ff9800!important}
.rj-text-deep-orange,.rj-hover-text-deep-orange:hover{color:#ff5722!important}
.rj-text-pink,.rj-hover-text-pink:hover{color:#e91e63!important}
.rj-text-purple,.rj-hover-text-purple:hover{color:#9c27b0!important}
.rj-text-deep-purple,.rj-hover-text-deep-purple:hover{color:#673ab7!important}
.rj-text-red,.rj-hover-text-red:hover{color:#f44336!important}
.rj-text-sand,.rj-hover-text-sand:hover{color:#fdf5e6!important}
.rj-text-teal,.rj-hover-text-teal:hover{color:#009688!important}
.rj-text-yellow,.rj-hover-text-yellow:hover{color:#d2be0e!important}
.rj-text-white,.rj-hover-text-white:hover{color:#fff!important}
.rj-text-black,.rj-hover-text-black:hover{color:#000!important}
.rj-text-grey,.rj-hover-text-grey:hover,.rj-text-gray,.rj-hover-text-gray:hover{color:#757575!important}
.rj-text-light-grey,.rj-hover-text-light-grey:hover,.rj-text-light-gray,.rj-hover-text-light-gray:hover{color:#f1f1f1!important}
.rj-text-dark-grey,.rj-hover-text-dark-grey:hover,.rj-text-dark-gray,.rj-hover-text-dark-gray:hover{color:#3a3a3a!important}
.rj-border-amber,.rj-hover-border-amber:hover{border-color:#ffc107!important}
.rj-border-aqua,.rj-hover-border-aqua:hover{border-color:#00ffff!important}
.rj-border-blue,.rj-hover-border-blue:hover{border-color:#2196F3!important}
.rj-border-light-blue,.rj-hover-border-light-blue:hover{border-color:#87CEEB!important}
.rj-border-brown,.rj-hover-border-brown:hover{border-color:#795548!important}
.rj-border-cyan,.rj-hover-border-cyan:hover{border-color:#00bcd4!important}
.rj-border-blue-grey,.rj-hover-border-blue-grey:hover,.rj-border-blue-gray,.rj-hover-border-blue-gray:hover{border-color:#607d8b!important}
.rj-border-green,.rj-hover-border-green:hover{border-color:#4CAF50!important}
.rj-border-light-green,.rj-hover-border-light-green:hover{border-color:#8bc34a!important}
.rj-border-indigo,.rj-hover-border-indigo:hover{border-color:#3f51b5!important}
.rj-border-khaki,.rj-hover-border-khaki:hover{border-color:#f0e68c!important}
.rj-border-lime,.rj-hover-border-lime:hover{border-color:#cddc39!important}
.rj-border-orange,.rj-hover-border-orange:hover{border-color:#ff9800!important}
.rj-border-deep-orange,.rj-hover-border-deep-orange:hover{border-color:#ff5722!important}
.rj-border-pink,.rj-hover-border-pink:hover{border-color:#e91e63!important}
.rj-border-purple,.rj-hover-border-purple:hover{border-color:#9c27b0!important}
.rj-border-deep-purple,.rj-hover-border-deep-purple:hover{border-color:#673ab7!important}
.rj-border-red,.rj-hover-border-red:hover{border-color:#f44336!important}
.rj-border-sand,.rj-hover-border-sand:hover{border-color:#fdf5e6!important}
.rj-border-teal,.rj-hover-border-teal:hover{border-color:#009688!important}
.rj-border-yellow,.rj-hover-border-yellow:hover{border-color:#ffeb3b!important}
.rj-border-white,.rj-hover-border-white:hover{border-color:#fff!important}
.rj-border-black,.rj-hover-border-black:hover{border-color:#000!important}
.rj-border-grey,.rj-hover-border-grey:hover,.rj-border-gray,.rj-hover-border-gray:hover{border-color:#9e9e9e!important}
.rj-border-light-grey,.rj-hover-border-light-grey:hover,.rj-border-light-gray,.rj-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.rj-border-dark-grey,.rj-hover-border-dark-grey:hover,.rj-border-dark-gray,.rj-hover-border-dark-gray:hover{border-color:#616161!important}
.rj-border-pale-red,.rj-hover-border-pale-red:hover{border-color:#ffe7e7!important}.rj-border-pale-green,.rj-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.rj-border-pale-yellow,.rj-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.rj-border-pale-blue,.rj-hover-border-pale-blue:hover{border-color:#e7ffff!important}